*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    flex-basis: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #CAD5E2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    display: flex;
    flex-basis:55vw ;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

h2{
    margin-bottom: 1.5rem;
    color: #E07C24;
}

.form-container{
    display: flex;
    flex-direction: column;
    flex-basis: 25vw;
}

.form-container a{
    color: #E07C24;
    padding: 1rem 0;
    text-decoration: underline;
}

.btn a{
    color: #fff;
}

.signup_image{
    display: flex;
    flex-basis: 10vw;
    margin-right:5rem;
}
img{
    width: 20vw;
}

label{
    text-transform: capitalize;
}

input{
    display: flex;
    flex-basis: 100%;
    padding: 0.6rem 0 0.5rem 0.5rem;
    padding-right: 8rem;
    margin: 1rem 0;
    border-radius: 7px;
    outline: none;
}

::placeholder{
    color: #333333;
}

input[type="submit"]{
    border: none;
    background-color: #E07C24;
    color: #fff;
    margin: 1.5rem 0 0 0;
    font-size: 1rem;
    display: flex;
    padding: 0.5rem 0.7rem;
    justify-content: center;
}

.wrongpassword, .wrongname, .emailExist{
    background-color: rgb(255, 0, 0, 0.7);
    color:#E07C24;
    margin: 1rem 0;
}

.btn{
    padding: 0.5rem 2rem;
    background-color: #E07C24;
    text-align: center;
    border:none;
    border-radius: 2rem;
    color: #fff;
    margin: 1rem 0rem;
}

#user-not-exist{
    margin-top: 2rem;
    display: none;
}

.active{
    display: block !important;
}

a{
    text-decoration: none;
    color:#fff;
}

@media screen and (max-width:480px){
    .container{
        flex-basis: 95vw;
        overflow: hidden;
        padding: 1.5rem 0;
        justify-content: center;
    }
    .form-container{
        flex-basis: 85vw;
    }

    .signup_image{
        display: none;
    }
}

/* @media screen and (max-width:768px ) {

    :root{
        font-size: 14px;
    }
    .container{
        flex-basis: 95vw;
    }
    .form-container{
        flex-basis: 45vw;
        overflow: hidden;
        align-items: flex-start;
    }

    input{
        padding-right:3rem;
    }
    img{
        width:25vw;
    }
} */