* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #EAF0F1;
}

.header{
    display: flex;
    flex-basis: 100vw;
    padding: 1rem 0;
    background-color: #fff;
    justify-content: space-between;
    flex-wrap: wrap;
}

#logouticon{
    border: none;
    background-color: transparent;

}

#logouticon img{
    width: 30px;
}

#user{
    display: flex;
    flex-basis: 7vw;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.logo{
    padding:0 2rem;
}

.logo img{
    width: 10vw;
}

#userName{
    padding:0 0.5rem;
}
#products_container {
    display: flex;
    flex-direction: column;
}

.categoryContainer {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    row-gap: 5vh;
    column-gap: 3vw;
    margin: auto;
    justify-content: center;
    margin: 3rem 0;
}

.card {
    display: flex;
    height: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: #fff;
    flex-basis: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.product_image {
    display: flex;
    flex-basis: 15vw;
    height: 30vh;
    text-align: center;
    overflow: hidden;
}

img {
    width: 100%;
}

h1 {
    text-align: center;
    padding: 2rem 0;
    text-transform: capitalize;
}

h3 {  
    font-size: 1.2rem;
    font-weight: 500;
    margin: auto;
    text-align: center;
    padding: 2rem 0;
}

.price_section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(228, 156, 61);
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    margin-top: 2vh;
    color: #fff;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.1);
}

p {
    padding: 0.2rem 0;
}

footer {
    text-align: center;
    padding: 0.3rem 0;
    color: #fff;
    background-color: rgb(171, 100, 6);
}

.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid rgb(171, 100, 6); /* Blue */
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left:50%
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.error{
    width: 100vw;
    text-align: center;
    color:#fff;
    padding: 2rem 0;
    background-color: #ff0000;
}

@media screen and (max-width: 480px) {

    .header .logo{
        flex-basis: 40vw;
        text-align: center;
        padding: 0;
    }

    #user{
        flex-basis: 5vw;
        padding-right:1rem;
    }
    
    #logouticon{
        padding-right: 0.5rem;
    }

    .logo img{
        width: 30vw;
    }

    .card {
        flex-basis: 90%;
    }

    .product_image {
        flex-basis: auto;
    }
}
