* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #eaf0f1;
}

:root {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.header {
    display: flex;
    flex-basis: 100vw;
    padding: 1rem 0;
    background-color: #fff;
    justify-content: space-between;
    flex-wrap: wrap;
}

#logouticon {
    border: none;
    background-color: transparent;
}

#logouticon img {
    width: 30px;
}

#user {
    display: flex;
    flex-basis: 7vw;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.logo {
    padding: 0 2rem;
}

.logo img {
    width: 10vw;
}

#userName {
    padding: 0 0.5rem;
}

#container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.card {
    max-height: 85vh;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    flex-basis: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
    margin: 2rem 0;
}

.product_image {
    width: 80%;
    /* height: 30vh; */
    display: block;
    text-align: center;
    overflow: hidden;
}

img {
    width: 100%;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: auto;
    text-align: center;
    padding: 2rem 0;
}

.price_section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(228, 156, 61);
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    margin-top: 2vh;
    color: #fff;
}

p {
    font-size: 1.5rem;
    padding: 0.2rem 0;
    font-weight: 700;
}

.description {
    background-color: rgb(228, 156, 61);
    color: #fff;
    padding: 1.5rem 1rem;
    font-size: 1.2rem;
    text-align: justify;
}

.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid rgb(171, 100, 6); /* Blue */
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
}

footer {
    width: 100vw;
    text-align: center;
    padding: 0.3rem 0;
    color: #fff;
    background-color: rgb(171, 100, 6);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.error {
    text-align: center;
    color: #fff;
    padding: 2rem 0;
    background-color: #ff0000;
}

@media screen and (max-width: 480px) {
    .header .logo {
        flex-basis: 40vw;
        text-align: center;
        padding: 0;
    }

    #user {
        flex-basis: 5vw;
        padding-right: 1rem;
    }

    #logouticon {
        padding-right: 0.5rem;
    }

    .logo img {
        width: 30vw;
    }

    .card{
        flex-basis: 90vw;
    }


    
}
